:root {
	--dark: #19191B;
	--grey: #454545;
	--purple: #5454D4;
	--orange: #FF7143;
	--light-grey: #696871;
	--white: #E7E7E7;
}

html {
	scroll-padding: 100px;
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
/*	background-color: #c6b3e8;*/
	font-family: "DM Sans";
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	all: unset;
}

.header {
	position: fixed;
	background-color: white;
	z-index: 67;
	width: 100%;
	padding-block: 30px;
}

.header__container, .hero__container, 
.subscription__container, .analytics__container, 
.advantages__container, .money__container{
	max-width: 1069px;
	margin: auto;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__list {
	display: flex;
	margin: auto;
	gap: 49px;
}

.header__list-item {
	transition: color 0.3s;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: -0.47px;
	color: var(--grey);
	font-size: 15px;
}

.header__list-item.active {
	color: var(--dark);
	border-bottom: 2px solid;
	border-color: var(--purple);
	padding-bottom: 10px;
}

.header__list-item:hover {
	color: var(--dark);
}

.header__list-item:visited {
	color: var(--dark);
	border-bottom: 2px solid;
	border-color: var(--purple);
	padding-bottom: 10px;
}

.header__button {
	transition: opacity 0.3s;
	font-weight: 600;
	font-size: 17px;
	letter-spacing: -0.53px;
	padding: 19px 59px;
	color: white;
	background-color: var(--orange);
	border-radius: 10px;
}

.header__button:hover {
	opacity: 90%;
}

.hero {
	padding: 160px 110px 100px 100px;
}

.hero__container {
	position: relative;
	padding: 92px 77px 91px 0px;
/*	max-width: 1146px;*/
}

.hero__content {
	max-width: 423px;
}

.hero__image {
	position: absolute;
	top: 0;
	right: -75px;
}

.hero__title {
	font-size: 80px;
	font-weight: 600;
	letter-spacing: -2.5px;
	color: var(--dark);
	line-height: 77px;
}

.hero__description {
	font-family: "Mulish";
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.63px;
	color: var(--light-grey);
	opacity: 100%;
	margin-top: 30px;
}

.hero__buttons {
	margin-top: 50px;
	display: flex;
	gap: 40px;
}

.hero__arrow-down {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 30px;
}

.logos__list {
/*	max-width: 1066px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -20px;
	gap: 119px;
}

.subscription {
	padding-top: 150px;
}

.subscription__container {
	position: relative;
}

.subscription__content {
/*	max-width: 556px;*/
	padding-left: 603px;
	padding-block: 122px;
}

.subscription__image {
	position: absolute;	
	top: 0px;
	left: -3px;
}

.subscription__title, .analytics__title {
	font-size: 50px;
	font-weight: 600;
	line-height: 57px;
	letter-spacing: -1.56px;
	color: var(--dark);
}

.subscription__low-text, .analytics__subscription {
/*	max-width: 459px;*/
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.63px;
	font-family: "Mulish";
	margin-block: 30px;
	color: var(--light-grey);
}

.subscription__link, .analytics__link {
	font-size: 17px;
	font-weight: 600;
	letter-spacing: -0.53px;
	color: var(--purple);
}

.analytics {
	padding-top: 69px;
}

.analytics__container {
	position: relative;
}

.analytics__content {
	padding: 150px 163px 125px 0px;
}

.analytics__image {
	position: absolute;
	right: 0;
	top: 0;
}

.analytics__subscription {
	max-width: 458px;
}

.advantages {
	padding-top: 152px;
}

.advantages__content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 74px;
}

.advantages__block1, .advantages__block2, 
.advantages__block3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.advantages__block1-image, .advantages__block2-image, 
.advantages__block3-image {
	width: 151px;
	height: 97px;
	padding-bottom: 7px;
}

.advantages__block1-title, .advantages__block2-title, 
.advantages__block3-title {
	padding-bottom: 20px;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -0.75px;
	line-height: 36px;
	color: var(--dark);
}

.advantages__block1-subscription, .advantages__block2-subscription, 
.advantages__block3-subscription {
	font-family: "Mulish";
	font-size: 16px;
	letter-spacing: -0.5px;
	line-height: 24px;
	color: var(--light-grey);
}

.money {
	padding-top: 150px;
	padding-bottom: 158px;
}

.money__header {
	display: flex;
	max-width: 1111px;
	max-height: 140px;
}

.money__header-title {
	max-width: 523px;
	font-size: 60px;
	font-weight: 600;
	line-height: 70px;
	letter-spacing: -1.88px;
	color: var(--dark);
}

.money__header-choose-buttons {
	display: flex;
	padding: 48px 22px 27px 200px;
/*	max-width: 346px;*/
/*	max-height: 65px;*/
}

.money__header-button-yearly, 
.money__header-button-monthly {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.5px;
	color: white;
	outline: none;
	background-color: var(--purple);
	border-radius: 10px 0px 0px 10px;
	width: 160px;
	height: 55px;
}

.money__header-button-monthly {
	color: black;
	background-color: white;
	border-radius: 0px 10px 10px 0px;
}

.money-cost {
	padding: 82px 21px 0px 20px;
	display: flex;
	gap: 17px;
}

.money-cost__block1, .money-cost__block2,
.money-cost__block3 {
	display: flex;
	max-width: 330px;
	max-height: 441px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 376px;
	height: 473px;
	border-radius: 10px;
}

.money-cost__block2 {
	background-color: var(--orange);
}

.money-cost__block1-upper-text,
.money-cost__block2-upper-text,
.money-cost__block3-upper-text  {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.56px;
	line-height: 28px;
	color: var(--light-grey);
	padding-top: 34px;
}

.money-cost__block1-cost,
.money-cost__block2-dollar,
.money-cost__block2-cost,
.money-cost__block3-dollar ,
.money-cost__block3-cost {
	padding-top: 22px;
	max-height: 56px;
}

.money-cost__block1-cost,
.money-cost__block2-dollar,
.money-cost__block3-dollar {
	font-size: 60px;
	font-weight: 600;
	letter-spacing: -1.03px;
	line-height: 56px;
}

.money-cost__block2-cost,
.money-cost__block3-cost {
	font-size: 28px;
	font-weight: 600;
	letter-spacing: -1.03px;
	line-height: 56px;
}

.money-cost__block1-subscription,
.money-cost__block2-subscription,
.money-cost__block3-subscription {
	font-family: "Mulish";
	font-size: 17px;
	letter-spacing: -0.53;
	line-height: 50px;
	color: var(--light-grey);
	padding-top: 28px;
	padding-bottom: 36px;
}

.money-cost__block1-link,
.money-cost__block2-link,
.money-cost__block3-link {
	font-size: 17px;
	font-weight: 600;
	letter-spacing: -0.53px;
	background-color: white;
	border-radius: 10px;
	color: var(--purple);
	width: 305px;
	padding: 19px 52px;
}

.money-cost__block2-upper-text,
.money-cost__block2-dollar,
.money-cost__block2-cost,
.money-cost__block2-subscription,
.money-cost__block2-link {
	color: white;
}

.money-cost__block2-link {
	background-color: #9F3919;
}

.money-cost__block2-upper-text {
	opacity: 70%;
}